@import url('https://fonts.googleapis.com/css?family=Gayathri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
* {
    background: #fefbe9;
}
h1,h2 {
    color: #183a1d;
    text-align: center;
    font-family: 'Gayathri', serif;
}
p {
    background-color: #e1eedd;
    color: #183a1d;
    text-align: center;
    font-family: 'Alegreya',sans-serif;
}
.homepage.description{
    font-size: 24px;
}
.homepage.image, .lasagna.image,.smoothie.image{
    text-align: center;
}

 .lasagna.button, .smoothie.button {
    text-align: center;
    color: #f0a04b;
}

button {
    background-color: #183a1d;
    font-size: 24px;
}


.lasagna.description{
    text-align: center;
}

ul {
    color: #183a1d;
    text-align: center;
}